.DS_Storenode_modules*.report*.log*.tgz.protos/Dockerfile.stamped.artifacts/.test-*/.vagrant.nyc_output/.test_output/.toolbin/.tmp.idea.artifacts.dockerbuild.nyc_output.test_output